.card-user {
    display: flex;
    padding: 10px;
    background: bisque;
}

.btn {
    display: flex;
}

.list-users{
    display: inline-grid;
}

.table{
    display: inline-grid;
    border: solid;

}
.colum{
    padding: 10px;
    
    border-bottom: solid;
}

.colum:last-child.row{
    border-right: none;
}

.row{
    padding: 10px;
    border-right: solid;
}

/* .row:last-child{
    border-right: none;
} */

.head-table{
    display: inline-flex;
    border-bottom: solid;

}

.key{
    padding: 10px;
}

.elem{
    padding: 10px;
}

.body-table{
    display: inline-grid;
}

.item{
    margin: 0px;
    display: inline-flex;
}