.items{
    display: inline-grid;
    border: solid;
}

.item{
    display: inline-flex;
    
}

.cell{
    display: inline-grid;
    margin: 10px;
}

.cells{
    display: inline-flex;
    border-bottom: solid;
}

.cells:last-child{
    border-bottom: none;
}

.input{

}